/Helloagain/nbproject/private/
/Helloagain/build/
/HelloNameJTW/nbproject/private/
/HelloNameJTW/build/
/HelloNameJTW/dist/
/Week04Arrays/nbproject/private/
/Week04Arrays/build/
/JTWGrade converter/nbproject/private/
/JTWGrade converter/build/
/GuessingGame/nbproject/private/
/GuessingGame/build/
/GuessingGame/dist/
/JTWGradeBook/nbproject/private/
/JTWGradeBook/build/
/JTWGradeBook/dist/
/week06OOP/nbproject/private/