/Helloagain/nbproject/private/
/Helloagain/build/
/HelloNameJTW/nbproject/private/
/HelloNameJTW/build/
/HelloNameJTW/dist/
/Week04Arrays/nbproject/private/
/Week04Arrays/build/
/JTWGrade converter/nbproject/private/
/JTWGrade converter/build/
/GuessingGame/nbproject/private/
/GuessingGame/build/
/GuessingGame/dist/
/JTWGradeBook/nbproject/private/
/JTWGradeBook/build/
/JTWGradeBook/dist/
/week06OOP/nbproject/private/
/GradeBookEntryabstract/nbproject/private/
/GradeBookEntryAbstract/nbproject/private/
/week07staticfinal/nbproject/private/
/week07staticfinal/build/
/OverflowMedia Example/nbproject/private/
/OverflowMedia Example/build/
/OverflowMedia Example/dist/
/CrapsGame/nbproject/private/
/CrapsGame/build/
/CrapsGame/dist/
/Week08Files/nbproject/private/
/Week08Files/build/